.card-produto {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a {
  text-decoration: none;
}

.imagem-produto {
  width: 174px;
  height: 176px;
  background-size: 174px;
  background-position: center;
}
