.lista-produtos{
  display: flex;
  justify-content: start;
  gap: 16px;
}
.secao-produtos{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.secao-produtos .topo{
  display: flex;
  justify-content: space-between;
}

.secao-produtos .topo > label {
  font-size: 32px;
}

.secao-produtos .topo > a {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
